test.txt
/Terraform/./terraform
/Terraform/*.tfstate
/Terraform/*.tfstate.backup
/Terraform/*.hcl
/Terraform-Cloud/./Terraform
/Terraform-Cloud/*.tfstate
/Terraform-Cloud/*.tfstate.backup
/Terraform-Cloud/*.hcl